include ../components/common/head.pug

doctype html
html(lang="zh-Hant-TW")
  +head("index")
  head
    link(rel="stylesheet" href="./css/swiper-bundle.min.css")
    script(src="./js/swiper-bundle.min.js")
  body
    include ../components/common/header.pug
    // 主輪播圖
    section(class="w-full mx-auto overflow-hidden")
      div(class="swiper swiper-main lg:!pb-0 !pb-[57px]")
        div(class="swiper-wrapper")
          each val in [1, 2, 3, 4, 5, 6]
            a(class="relative swiper-slide" href="/")
              picture
                img(class="object-cover object-center w-full lg:h-[480px] h-[440px]" src=`./images/index/banner${val}.png` alt="")
        div(class="swiper-pagination swiper-main-pagination")
        div(class="swiper-button-prev swiper-button-main-prev bg-white bg-opacity-65 lg:!flex !hidden items-center justify-center !w-12 !h-[60px] !left-0")
          img(src="./images/arrows/light_large_left.svg" alt="")
        div(class="swiper-button-next swiper-button-main-next bg-white bg-opacity-65 lg:!flex !hidden items-center justify-center !w-12 !h-[60px] !right-0")
          img(src="./images/arrows/light_large_right.svg" alt="")

    // 企劃提案
    section(class="bg-slate-50")
      div(class="relative py-6 mx-auto max-w-screen-2xl lg:py-16")
        picture(class="lg:max-w-[670px] lg:max-h-[784px] max-h-[421px] w-full h-full block lg:relative absolute z-1")
          img(class="object-cover object-center w-full h-full rounded-tr-[50%]" src="./images/index/planning.png", alt="")
        div(class="flex lg:flex-row flex-col z-[2] lg:absolute relative lg:top-[162px] lg:right-[69px] mx-auto lg:mt-0 mt-[151px] lg:max-w-[904px] lg:max-h-[711px] lg:w-full w-[90%] h-full bg-white bg-opacity-95 lg:pt-[43px] pt-10 lg:pb-[46px] pb-[13px] lg:pl-[61px] lg:pr-10 px-8")
          div(class="flex-1 lg:mr-[111px]")
            p(class="text-xs text-black lg:text-sm line-clamp line-clamp-1") 歡慶佳節企劃提案
            p(class="mt-6 text-xl font-bold leading-snug text-black lg:text-3xl line-clamp line-clamp-3") 不想一個人過聖誕節
              br
              | 讓他（她）的心溫暖起來
            div(class="mt-6 space-y-6 lg:space-y-10")
              p(class="text-xs text-black lg:text-sm") 從生日、紀念日、情人節到聖誕節， 送禮始終是伴侶間的默契大考驗，誠摯推薦 5 款 實⽤與樂趣兼具的贈禮，讓送禮成為關係中的潤滑劑！
              p(class="text-xs text-black lg:text-sm") 從生日、紀念日、情人節到聖誕節，送禮始終是伴侶間的默契大考驗，誠摯推薦 5 款實⽤與樂趣兼具的贈禮，讓送禮成為關係中的潤滑劑！從生日、紀念日、情人節到聖誕節，送禮始終是伴侶間的默契大考驗，誠摯推薦 
              p(class="text-xs text-black lg:text-sm") 從生日、紀念日、情人節到聖誕節，送禮始終是伴侶間的默契大考驗，誠摯推薦 5 款實⽤與樂趣兼具的贈禮，讓送禮成為關係中的潤滑劑！
          div(class="flex-1 max-w-[352px] w-full h-full lg:mt-0 mt-10")
            div(class="flex lg:flex-col flex-row lg:max-h-[548px] w-full h-full lg:p-4 lg:border lg:rounded lg:border-slate-200")
              div(class="relative")
                img(class="lg:max-w-[320px] max-w-[114px] lg:max-h-[400px] max-h-[136px] w-full h-full object-cover" src="./images/index/planning2.png", alt="")
                button(class="absolute lg:top-[15px] top-2 lg:right-3 right-2 group")
                  svg(class="w-3 h-3 lg:w-5 lg:h-5")(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 36 33")
                    path(class="fill-black lg:group-hover:fill-red-500" d="M33.11,3.35a9.19,9.19,0,0,0-6.67-3A8.48,8.48,0,0,0,20.18,3a12.82,12.82,0,0,0-2.25,3.15A12.82,12.82,0,0,0,15.68,3,8.49,8.49,0,0,0,9.42.33a9,9,0,0,0-6.61,3A11,11,0,0,0,0,10.23C-.3,17,4.94,21.53,12.87,28.4c1.39,1.2,2.83,2.45,4.37,3.81l.69.62.69-.62c1.63-1.44,3.16-2.76,4.63-4,7.86-6.77,13-11.25,12.74-17.95A10.82,10.82,0,0,0,33.11,3.35ZM21.88,26.55c-1.27,1.09-2.57,2.22-3.95,3.44-1.29-1.14-2.51-2.2-3.7-3.22-3.92-3.4-7-6.08-9.14-8.71S2,13,2.12,10.34C2.32,6,5.54,2.51,9.43,2.48h.06c4.08,0,6.16,3.52,7,5.62a1.52,1.52,0,0,0,2.82,0c.87-2.1,2.95-5.63,7-5.63h.05c3.92,0,7.26,3.56,7.46,7.87.12,2.61-.79,5-3,7.63S25.76,23.21,21.88,26.55Z" transform="translate(0 -0.33)")
                    path(class="fill-[transparent] stroke-black lg:group-hover:fill-red-500 lg:group-hover:stroke-red-500" d="M33.88,10.34c.12,2.61-.79,5-3,7.63s-5.16,5.24-9,8.58c-1.27,1.09-2.57,2.22-3.95,3.44-1.29-1.14-2.51-2.2-3.7-3.22-3.92-3.4-7-6.08-9.14-8.71S2,13,2.12,10.34C2.32,6,5.54,2.51,9.43,2.48h.06c4.08,0,6.16,3.52,7,5.62a1.52,1.52,0,0,0,2.82,0c.87-2.1,2.95-5.63,7-5.63h.05C30.34,2.51,33.68,6,33.88,10.34Z" transform="translate(0 -0.33)")
              div(class="flex flex-col flex-1 ml-4 lg:ml-0")
                p(class="text-xs text-slate-400 lg:mt-6") 依聖詩
                p(class="text-base text-black lg:mt-3 mt-[6px]") 聖誕節慶麵包與橄欖油套組
                div(class="flex flex-col mt-3 space-y-2 xl:space-x-6 lg:space-x-4 lg:space-y-0 lg:flex-row lg:mt-10")
                  p(class="space-x-2 font-semibold text-red-500")
                    span(class="lg:text-xs text-10") 優惠價
                    span(class="text-sm lg:text-base") NT$ 1,299
                  p(class="font-semibold text-gray-700 line-through")
                    span(class="text-sm lg:text-base") NT$ 1,599
            div(class="flex justify-end lg:mt-12 m-[2px]")
              a(class="text-sm text-yellow-900 lg:text-xl" href="#") 更多 >>

    // 全站分類熱銷推薦
    section(class="bg-white lg:pt-16 pt-10 lg:pb-[35px] pb-10")
      div(class="mx-auto max-w-screen-2xl")
        p(class="text-base font-semibold text-center text-black lg:text-xl") 全站分類熱銷推薦
        div(class="lg:!pl-10 !pl-6 !pb-[38px] !mt-[38px] swiper swiper-recommend")
          div(class="swiper-wrapper")
            each val in [1, 2, 3, 4, 5, 6]
              a(class="lg:max-w-[320px] max-w-[270px] swiper-slide" href="/")
                img(class="lg:max-w-[320px] max-w-[270px] lg:max-h-[380px] max-h-[320px] w-full h-full object-cover" src=`./images/index/recommend${val}.png`, alt="")
                p(class="mt-8 text-base text-black") 全站熱銷商品第二件五折  >
          div(class="2xl:max-w-[1300px] xl:max-w-[1000px] lg:max-w-[900px] md:max-w-[700px] max-w-[320px] !left-[51%] !bottom-0 !-translate-x-1/2 swiper-scrollbar swiper-recommend-scrollbar")
          div(class="swiper-button-prev swiper-button-recommend-prev bg-white lg:!flex !hidden items-center justify-center !w-12 !h-[60px] !left-0 rotate-180")
            img(src="./images/arrows/arrow_forward_24px.svg" alt="")
          div(class="swiper-button-next swiper-button-recommend-next bg-white lg:!flex !hidden items-center justify-center !w-12 !h-[60px] !right-0")
            img(src="./images/arrows/arrow_forward_24px.svg" alt="")

    // 次要輪播
    section(class="w-full mx-auto overflow-hidden")
      div(class="swiper swiper-secondary")
        div(class="swiper-wrapper")
          each val in [1, 2, 3, 4, 5, 6]
            a(class="relative swiper-slide" href="/")
              picture
                img(class="object-cover object-center w-full lg:h-[480px] h-[440px]" src=`./images/index/secondary${val}.png` alt="")
        div(class="lg:!block hidden swiper-pagination swiper-secondary-pagination")

    // 限定區塊
    section(class="lg:pt-[107px] pt-10 pb-10 lg:pl-[65px] pl-0 lg:pr-[63px] max-w-screen-2xl mx-auto")
      div(class="flex gap-x-[84px] lg:flex-row flex-col-reverse lg:gay-y-0 gap-y-10")
        div(class="flex flex-1 overflow-x-auto pl-7 lg:overflow-x-visible lg:grid lg:grid-cols-2 lg:gap-x-8 gap-x-5 lg:gap-y-8 lg:pl-0")
          // 樣式 1
          a(class="flex flex-col lg:flex-1 flex-[0_0_auto] relative" href="/") 
            div(class="relative")
              img(class="object-cover object-center w-full h-full lg:max-h-[380px] max-h-[273px]" src=`./images/index/limited1.png` alt="")
              div(class="absolute top-0 flex items-center w-full h-10 bg-red-700")
                div(class="absolute top-[-9px] left-[-26px]")
                  img(src="./images/index/lab1.png", alt="")
                  p(class="flex flex-col text-xs font-semibold text-white absolute top-3 left-[30px] tracking-widest") 
                    span 今日
                    span 限定
                p(class="lg:text-sm text-10 font-bold text-white ml-[66px] line-clamp line-clamp-2") 熱銷商品破盤價 滿額贈芳香除濕劑
            p(class="mt-4 text-slate-400 lg:mt-6 lg:text-xs text-10") 胡同嚴選
            p(class="mt-2 text-sm text-black lg:mt-3 lg:text-base") 產地直送手工鬼椒辣醬
            p(class="mt-2 text-sm text-red-400 lg:mt-1 lg:text-base") 限量新品 
            div(class="flex flex-col mt-[9px] space-y-2 xl:space-x-6 lg:space-x-4 lg:space-y-0 lg:flex-row lg:mt-[14px]")
              p(class="space-x-2 font-semibold text-red-500")
                span(class="lg:text-xs text-10") 優惠價
                span(class="text-sm lg:text-base") NT$ 99
              p(class="font-semibold text-gray-700 line-through")
                span(class="text-sm lg:text-base") NT$ 129
          // 樣式 2
          a(class="flex flex-col lg:flex-1 flex-[0_0_auto] relative" href="/") 
            div(class="relative")
              img(class="object-cover object-center w-full h-full lg:max-h-[380px] max-h-[273px]" src=`./images/index/limited2.png` alt="")
              div(class="absolute bottom-0 flex justify-center w-full h-8 px-1 bg-origin-500")
                p(class="flex items-center font-bold text-white")
                  span(class="xl:text-sm text-11") 12.12 限定 熱銷商品破盤價 下殺 
                  span(class="xl:text-10 text-[9px]") $
                  span(class="text-xs xl:text-base") 299
            p(class="mt-4 text-slate-400 lg:mt-6 lg:text-xs text-10") 胡同嚴選
            p(class="mt-2 text-sm text-black lg:mt-3 lg:text-base") 產地直送手工鬼椒辣醬
            p(class="mt-2 text-sm text-red-400 lg:mt-1 lg:text-base") 限量新品 
            div(class="flex flex-col mt-[9px] space-y-2 xl:space-x-6 lg:space-x-4 lg:space-y-0 lg:flex-row lg:mt-[14px]")
              p(class="space-x-2 font-semibold text-red-500")
                span(class="lg:text-xs text-10") 優惠價
                span(class="text-sm lg:text-base") NT$ 99
              p(class="font-semibold text-gray-700 line-through")
                span(class="text-sm lg:text-base") NT$ 129
          // 樣式 3
          a(class="flex flex-col lg:flex-1 flex-[0_0_auto] relative" href="/") 
            div(class="relative")
              img(class="object-cover object-center w-full h-full lg:max-h-[380px] max-h-[273px]" src=`./images/index/limited3.png` alt="")
              div(class="absolute top-0 w-full")
                div(class="absolute top-[-16px] left-0")
                  img(src="./images/index/lab2.png", alt="")
                  div(class="flex flex-col absolute top-4 left-[14px]") 
                    p(class="text-base font-bold text-white") 週年慶
                    p(class="flex items-center leading-none")
                      span(class="text-xl font-bold text-yellow-400") 3.8
                      span(class="text-sm text-white") 折
              div(class="absolute bottom-0 flex justify-center w-full h-8 bg-gray-800")
                p(class="flex items-center text-xs font-bold text-white lg:text-sm") 品牌旗艦館 滿三千再折三百
            p(class="mt-4 text-slate-400 lg:mt-6 lg:text-xs text-10") 胡同嚴選
            p(class="mt-2 text-sm text-black lg:mt-3 lg:text-base") 產地直送手工鬼椒辣醬
            p(class="mt-2 text-sm text-red-400 lg:mt-1 lg:text-base") 限量新品 
            div(class="flex flex-col mt-[9px] space-y-2 xl:space-x-6 lg:space-x-4 lg:space-y-0 lg:flex-row lg:mt-[14px]")
              p(class="space-x-2 font-semibold text-red-500")
                span(class="lg:text-xs text-10") 優惠價
                span(class="text-sm lg:text-base") NT$ 99
              p(class="font-semibold text-gray-700 line-through")
                span(class="text-sm lg:text-base") NT$ 129
          // 樣式 4
          a(class="flex flex-col lg:flex-1 flex-[0_0_auto] relative" href="/") 
            div(class="relative")
              img(class="object-cover object-center w-full h-full lg:max-h-[380px] max-h-[273px]" src=`./images/index/limited4.png` alt="")
              div(class="absolute left-3 bottom-[44px] bg-gray-800 w-14 h-14 rounded-sm flex items-center justify-center")
                p(class="flex flex-col text-sm text-white left-[30px]") 
                  span 東港
                  span 名產
            p(class="mt-4 text-slate-400 lg:mt-6 lg:text-xs text-10") 胡同嚴選
            p(class="mt-2 text-sm text-black lg:mt-3 lg:text-base") 產地直送手工鬼椒辣醬
            p(class="mt-2 text-sm text-red-400 lg:mt-1 lg:text-base") 限量新品 
            div(class="flex flex-col mt-[9px] space-y-2 xl:space-x-6 lg:space-x-4 lg:space-y-0 lg:flex-row lg:mt-[14px]")
              p(class="space-x-2 font-semibold text-red-500")
                span(class="lg:text-xs text-10") 優惠價
                span(class="text-sm lg:text-base") NT$ 99
              p(class="font-semibold text-gray-700 line-through")
                span(class="text-sm lg:text-base") NT$ 129
        div(class="relative flex-1 px-6 lg:px-0")
          img(class="object-cover object-[center_20%] w-full h-full lg:max-h-fit max-h-[291px]" src="./images/index/limited5.png", alt="")
          div(class="flex flex-col lg:items-center items-start lg:top-[183px] top-10 absolute left-1/2 -translate-x-1/2 lg:w-full xl:px-[68px] lg:px-9 w-[calc(100%-48px)] px-6")
            p(class="text-2xl font-bold text-center text-white xl:text-4xl lg:text-3xl") 空運日本和牛客製化代切
            div(class="lg:mt-[45px] mt-5")
              p(class="text-white xl:text-2xl lg:text-xl text-xs xl:leading-[56px] leading-relaxed") 超透氣桉樹 冷卻與溫度調節
                br
                | 絲般柔軟； 對皮膚和頭髮有益
                br
                | 光滑柔軟的人造纖維絨毛，帶給
                br
                | 你整日的舒適
              a(class="xl:w-[160px] xl:h-[60px] lg:text-xl text-sm lg:w-[130px] lg:h-[50px] w-[104px] h-[44px] text-black flex items-center justify-center bg-white lg:mt-12 mt-[27px] rounded" href="/") 立即選購

    // 廣告版位
    section(class="mx-6 mb-10 lg:mx-auto max-w-screen-2xl lg:px-8")
      div(class="bg-orange-600 h-[158px] text-white lg:px-10 px-3 lg:py-9 py-6 lg:text-xl text-base") ＊此處為廣告版位

    // 提案區塊
    section(class="bg-slate-900")
      div(class="flex flex-col-reverse px-6 pt-6 pb-10 lg:flex-row lg:px-0 lg:py-0 lg:mx-auto max-w-screen-2xl lg:h-[480px]")
        div(class="lg:px-[72px] lg:py-[88px] max-w-[650px] flex-1 lg:space-y-[15px] space-y-6 lg:mt-0 mt-8")
          p(class="text-white lg:text-[58px] text-[40px]") 假日戶外提案
          p(class="text-sm text-white lg:text-base") 橘焱胡同商城官網結帳再享9折即日起至12/13
           br
           | 限時7天把握一年一度雙12歡慶，將各種好物帶回家
          a(class="xl:w-[160px] xl:h-[60px] lg:text-xl text-sm lg:w-[130px] lg:h-[50px] w-[104px] h-[44px] text-black flex items-center justify-center bg-white mt-8 rounded" href="/") 立即選購
        div(class="lg:max-w-[790px] flex-1")
          img(class="object-cover object-center w-full lg:h-full h-[288px]" src="./images/index/proposal.png", alt="")

    // 必備單品區塊
    section(class="bg-white lg:pt-16 pt-10 lg:pb-[35px] pb-10")
      div(class="mx-auto max-w-screen-2xl")
        p(class="text-base font-semibold text-center text-black lg:text-xl") 追上戶外生活 必備單品
        div(class="lg:!pl-10 !pl-6 !pb-[38px] !mt-[38px] swiper swiper-recommend")
          div(class="swiper-wrapper")
            each val in [1, 2, 3, 4, 5, 6]
              a(class="lg:max-w-[320px] max-w-[270px] swiper-slide" href="/")
                img(class="lg:max-w-[320px] max-w-[270px] lg:max-h-[380px] max-h-[320px] w-full h-full object-cover" src=`./images/index/singleProduct${val}.png`, alt="")
                p(class="mt-8 text-base text-black") 全站熱銷商品第二件五折  >
          div(class="2xl:max-w-[1300px] xl:max-w-[1000px] lg:max-w-[900px] md:max-w-[700px] max-w-[320px] !left-[51%] !bottom-0 !-translate-x-1/2 swiper-scrollbar swiper-recommend-scrollbar")
          div(class="swiper-button-prev swiper-button-recommend-prev bg-white lg:!flex !hidden items-center justify-center !w-12 !h-[60px] !left-0 rotate-180")
            img(src="./images/arrows/arrow_forward_24px.svg" alt="")
          div(class="swiper-button-next swiper-button-recommend-next bg-white lg:!flex !hidden items-center justify-center !w-12 !h-[60px] !right-0")
            img(src="./images/arrows/arrow_forward_24px.svg" alt="")

    // 倒數區塊
    section(class="bg-origin-600 lg:py-[27px] py-3 lg:h-[90px] h-[74px] mt-7")
      div(class="flex flex-col items-center justify-center space-y-3 lg:space-x-10 lg:space-y-0 lg:flex-row")
        p(class="text-white lg:text-[22px] text-xs font-medium") 耶誕盛典 限時開搶
        div(class="flex items-center space-x-2")
          span(class="flex items-center justify-center lg:text-2xl text-base font-medium text-white bg-orange-400 rounded lg:w-7 w-4 lg:h-9 h-[22px]") 1
          span(class="flex items-center justify-center lg:text-2xl text-base font-medium text-white bg-orange-400 rounded lg:w-7 w-4 lg:h-9 h-[22px]") 2
          span(class="flex items-center justify-center lg:text-2xl text-base font-medium text-white lg:w-7 w-4 lg:h-9 h-[22px]") ：
          span(class="flex items-center justify-center lg:text-2xl text-base font-medium text-white bg-orange-400 rounded lg:w-7 w-4 lg:h-9 h-[22px]") 0
          span(class="flex items-center justify-center lg:text-2xl text-base font-medium text-white bg-orange-400 rounded lg:w-7 w-4 lg:h-9 h-[22px]") 8
          span(class="flex items-center justify-center lg:text-2xl text-base font-medium text-white lg:w-7 w-4 lg:h-9 h-[22px]") ：
          span(class="flex items-center justify-center lg:text-2xl text-base font-medium text-white bg-orange-400 rounded lg:w-7 w-4 lg:h-9 h-[22px]") 0
          span(class="flex items-center justify-center lg:text-2xl text-base font-medium text-white bg-orange-400 rounded lg:w-7 w-4 lg:h-9 h-[22px]") 8
        a(class="items-center hidden space-x-3 lg:flex" href="/")
          p(class="text-sm text-white") 準點限時上新 馬上去搶購
          img(src="./images/arrows/defaults_bold__white_right.svg", alt="")

    // 品牌旗艦館
    section(class="lg:mt-[55px] mt-10")
      div(class="px-5 mx-auto max-w-screen-2xl lg:px-12")
        // MB 版標題
        div(class="flex items-start space-x-3 lg:hidden")
          p(class="text-base font-semibold") 品牌旗艦館
          p(class="text-xs") 小編精選熱銷推薦
        div(class="grid grid-cols-2 lg:gap-0 gap-[14px] mt-2 lg:space-x-10 lg:flex lg:mt-0")
          div(class="lg:max-w-[420px]")
            img(class="object-cover object-center lg:max-w-[420px] lg:max-h-[500px] w-full h-auto" src="./images/index/flagship1.png", alt="")
            p(class="mt-5 text-sm font-semibold lg:mt-8 lg:text-xl") 冬日浪漫氛圍，歡慶年末
            p(class="lg:mt-6 mt-[15px] lg:text-base text-xs") 起源於調香師對大自然的領略與思緒，全然投注、鑽研於天然原料，心之所繫而成的芬芳詩篇。
            a(class="xl:w-[160px] xl:h-[60px] lg:text-xl text-sm lg:w-[130px] lg:h-[50px] w-[104px] h-[44px] text-white flex items-center justify-center bg-black lg:mt-12 mt-[27px] rounded" href="/") 立即選購
          // 第二個 item 有標題
          div(class="lg:max-w-[420px]")
            // PC 版標題
            div(class="flex-col items-center justify-center hidden space-y-6 lg:flex mb-[72px]")
              p(class="text-[40px] font-semibold") 品牌旗艦館
              p(class="text-2xl") 小編精選熱銷推薦
            img(class="object-cover object-center lg:max-w-[420px] lg:max-h-[500px] w-full h-auto" src="./images/index/flagship2.png", alt="")
            p(class="mt-5 text-sm font-semibold lg:mt-8 lg:text-xl") 冬日浪漫氛圍，歡慶年末
            p(class="lg:mt-6 mt-[15px] lg:text-base text-xs") 起源於調香師對大自然的領略與思緒，全然投注、鑽研於天然原料，心之所繫而成的芬芳詩篇。
            a(class="xl:w-[160px] xl:h-[60px] lg:text-xl text-sm lg:w-[130px] lg:h-[50px] w-[104px] h-[44px] text-white flex items-center justify-center bg-black lg:mt-12 mt-[27px] rounded" href="/") 立即選購
          div(class="lg:max-w-[420px]")
            img(class="object-cover object-center lg:max-w-[420px] lg:max-h-[500px] w-full h-auto" src="./images/index/flagship3.png", alt="")
            p(class="mt-5 text-sm font-semibold lg:mt-8 lg:text-xl") 冬日浪漫氛圍，歡慶年末
            p(class="lg:mt-6 mt-[15px] lg:text-base text-xs") 起源於調香師對大自然的領略與思緒，全然投注、鑽研於天然原料，心之所繫而成的芬芳詩篇。
            a(class="xl:w-[160px] xl:h-[60px] lg:text-xl text-sm lg:w-[130px] lg:h-[50px] w-[104px] h-[44px] text-white flex items-center justify-center bg-black lg:mt-12 mt-[27px] rounded" href="/") 立即選購
          div(class="block lg:hidden")
            img(class="object-cover object-center lg:max-w-[420px] lg:max-h-[500px] w-full h-auto" src="./images/index/flagship4.png", alt="")
            p(class="mt-5 text-sm font-semibold lg:mt-8 lg:text-xl") 冬日浪漫氛圍，歡慶年末
            p(class="lg:mt-6 mt-[15px] lg:text-base text-xs") 起源於調香師對大自然的領略與思緒，全然投注、鑽研於天然原料，心之所繫而成的芬芳詩篇。
            a(class="xl:w-[160px] xl:h-[60px] lg:text-xl text-sm lg:w-[130px] lg:h-[50px] w-[104px] h-[44px] text-white flex items-center justify-center bg-black lg:mt-12 mt-[27px] rounded" href="/") 立即選購


    // 網紅賣場
    section(class="lg:mt-[108px] mt-[65px] overflow-hidden")
      div(class="relative lg:h-[170px] h-[111px] before:absolute before:w-[calc(100vw+100px)] before:left-1/2 before:-translate-x-1/2 before:h-60 before:bg-slate-100 before:rounded-tl-[50%] before:rounded-tr-[50%]")
        p(class="absolute text-base font-semibold text-center -translate-x-1/2 lg:text-xl left-1/2 bottom-10") 網紅賣場
      div(class="grid lg:grid-cols-2")
        // 左區塊
        div(class="grid grid-cols-2")
          a(class="relative max-h-[400px] h-full before:absolute before:w-full before:h-full before:bg-black before:bg-opacity-35" href="/")
            img(class="object-cover object-center w-full h-full" src=`./images/index/store1.png`, alt="")
            p(class="absolute flex flex-col w-full px-6 text-sm font-semibold leading-loose text-center text-white -translate-x-1/2 -translate-y-1/2 lg:leading-normal lg:text-xl left-1/2 top-1/2")
              span 胡同 x 吳淡如
              span Podcast推薦
          a(class="relative max-h-[400px] h-full before:absolute before:w-full before:h-full before:bg-black before:bg-opacity-35" href="/")
            img(class="object-cover object-center w-full h-full" src=`./images/index/store2.png`, alt="")
            p(class="absolute flex flex-col w-full px-6 text-sm font-semibold leading-loose text-center text-white -translate-x-1/2 -translate-y-1/2 lg:leading-normal lg:text-xl left-1/2 top-1/2")
              span 胡同 x 吳淡如
              span Podcast推薦
          a(class="relative max-h-[400px] h-full before:absolute before:w-full before:h-full before:bg-black before:bg-opacity-35" href="/")
            img(class="object-cover object-center w-full h-full" src=`./images/index/store3.png`, alt="")
            p(class="absolute flex flex-col w-full px-6 text-sm font-semibold leading-loose text-center text-white -translate-x-1/2 -translate-y-1/2 lg:leading-normal lg:text-xl left-1/2 top-1/2")
              span 胡同 x 吳淡如
              span Podcast推薦
          a(class="relative max-h-[400px] h-full before:absolute before:w-full before:h-full before:bg-black before:bg-opacity-35" href="/")
            img(class="object-cover object-center w-full h-full" src=`./images/index/store4.png`, alt="")
            p(class="absolute flex flex-col w-full px-6 text-sm font-semibold leading-loose text-center text-white -translate-x-1/2 -translate-y-1/2 lg:leading-normal lg:text-xl left-1/2 top-1/2")
              span 胡同 x 吳淡如
              span Podcast推薦
        // 右區塊
        div(class="grid grid-cols-2")
          a(class="relative max-h-[400px] h-full before:absolute before:w-full before:h-full before:bg-black before:bg-opacity-35" href="/")
            img(class="object-cover object-center w-full h-full" src=`./images/index/store5.png`, alt="")
            p(class="absolute flex flex-col w-full px-6 text-sm font-semibold leading-loose text-center text-white -translate-x-1/2 -translate-y-1/2 lg:leading-normal lg:text-xl left-1/2 top-1/2")
              span 胡同 x 吳淡如
              span Podcast推薦
          a(class="relative max-h-[400px] h-full before:absolute before:w-full before:h-full before:bg-black before:bg-opacity-35" href="/")
            img(class="object-cover object-center w-full h-full" src=`./images/index/store6.png`, alt="")
            p(class="absolute flex flex-col w-full px-6 text-sm font-semibold leading-loose text-center text-white -translate-x-1/2 -translate-y-1/2 lg:leading-normal lg:text-xl left-1/2 top-1/2")
              span 胡同 x 吳淡如
              span Podcast推薦
          a(class="relative max-h-[400px] h-full before:absolute before:w-full before:h-full before:bg-black before:bg-opacity-35" href="/")
            img(class="object-cover object-center w-full h-full" src=`./images/index/store7.png`, alt="")
            p(class="absolute flex flex-col w-full px-6 text-sm font-semibold leading-loose text-center text-white -translate-x-1/2 -translate-y-1/2 lg:leading-normal lg:text-xl left-1/2 top-1/2")
              span 胡同 x 吳淡如
              span Podcast推薦
          a(class="relative max-h-[400px] h-full before:absolute before:w-full before:h-full before:bg-black" href="/")
            p(class="absolute flex flex-col items-start w-full px-6 text-sm font-semibold leading-loose text-center text-white -translate-x-1/2 -translate-y-1/2 lg:leading-normal lg:text-xl lg:left-6 left-1/2 lg:translate-x-0 top-1/2")
              span Let’s Go 
              span 更多賣場等你來逛逛

    // 部落格專欄
    section(class="lg:mt-10 mt-[61px]")
      p(class="text-base font-semibold text-center lg:text-xl") 部落格專欄
      div(class="bg-slate-50 pt-12 pb-[131px] lg:mt-10 mt-6")
        div(class="mx-auto max-w-screen-2xl lg:px-[80px] px-6")
          div(class="text-right")
            a(class="text-xs font-semibold text-black lg:text-base" href="") 全部專欄 >
          div(class="lg:mt-10 mt-6 flex lg:flex-row flex-col xl:space-x-[118px] lg:space-x-10 lg:space-y-0 space-y-6")
            each val in [1, 2, 3]
              a(class="flex lg:flex-col" href="/")
                img(class="object-cover object-center lg:w-full w-[140px] lg:h-[240px] h-auto" src=`./images/index/column${val}.png`, alt="")
                div(class="flex flex-col py-4 space-y-5 lg:mt-6 lg:py-0 pl-4 lg:pl-0 lg:border-0 border-t border-b border-[#D7D7D7]")
                  p(class="text-sm font-semibold text-black lg:text-base") 簡易擺盤小撇步，遵守5要點，搖身變成讓你從此成為擺盤小天才！
                  p(class="text-xs text-black lg:text-sm line-clamp line-clamp-2") 新的一年想要好運多多，不論是新的一年想要好運多多，不論是新的一年想要好運多多，不論是不論是新的一年想要好運多多，不論是想要好運多多多多多多
                  p(class="lg:text-xs text-10 text-amber-900") 繼續閱讀...

    include ../components/common/cookieBanner.pug
    include ../components/common/gotop.pug
    include ../components/common/footer.pug
